@fs-n: 20px;
@fs-ms: 16px;
@fs-s: 14px;
@fs-c: #FFFFFF;
@twitter-blue: #55ACEE;
@ff-n: 'Open Sans', sans-serif;
@ff-ref: Georgia, serif;
@bg-gray-dark: #DCDCDC;
@bg-gray-light: #F0F0F0;

.text-corner (@radius: 6px) {
  border-radius: @radius;
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
}

.search-algo() {
  display: inline-block;
  font-size: 14px;
  height: 150px;
  padding: 6px;
  margin: 12px 12px 0 12px;
  vertical-align: top;
  white-space: initial;
  overflow: hidden;
  border:#cccccc 1px solid;
}

.set-title {
    padding-left: 12px;
    border-left: 8px solid #55ACEE;
}


.bookmarks .search-item{
    width: 480px;
    cursor: pointer;
    padding: 12px 12px 12px 12px;
    .text-corner(3px);
    .search-algo();
}

.bookmarks .search-item:hover{
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    border-color: #888888;
}

.bookmarks .search-item .left {
  float: left;
  width: 360px;
}

.bookmarks .search-item .left-clean {
  float: left;
  width: 100%;
}

.bookmarks .search-item .right {
  float: right;
}

.bookmarks .search-item .title {
    font-size: 14px;
    font-weight: 700;
    text-decoration: underline;
}

.bookmarks .search-item .titleCont {
  display: inline-block;
}

.bookmarks .search-item .description {
  margin-bottom: 6px;
  max-height: 60px;
  overflow : hidden;
  text-overflow: ellipsis;
}

.bookmarks .search-item .date {
  color: #888888;
}

.bookmarks .search-item .tag {
  background-color: #F0F0F0;
  padding: 2px 6px;
  margin-right: 8px;
  margin-bottom: 3px;
  display: inline-block;
  .text-corner(3px);
}
.bookmarks .search-item .img {
  border:3px solid #F0F0F0;
  border-radius:50%;
  overflow:hidden;
}

.bookmarks .search-item .favicon {
  margin-right: 3px;
}